<app-loader ng-if="vm.loading"></app-loader>

<section class="out" ng-if="!vm.loading">

  <app-header></app-header>


  <div class="content">
    <div class="wrap wrap_pt32">
      <div class="content__i">

        <p ng-if="vm.orderLoaded" class="invoiceBack">
          <a href="#{{$root.ROUTES.SEARCH_SEPARATE_ORDER}}" class="back">
            {{ 'web.order.form.backToSearchOrder' | aliasStatic}}
          </a>
        </p>

        <order-rossiya ng-if="vm.pnrOrTicketNumber && vm.lastName" num="vm.pnrOrTicketNumber" lastname="vm.lastName"></order-rossiya>

      </div>
    </div>
  </div>

  <div class="push"></div>

</section>

<app-footer ng-if="!vm.loading"></app-footer>
