
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 26 32" style="enable-background:new 0 0 26 32;" xml:space="preserve">
<style type="text/css">
    
    .st0{fill:#FFFFFF;}
    .st2{fill:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    .rfisc-icon__regular .st1{fill:#CBC8C8;}
    .rfisc-icon__regular .st2{stroke:#CBC8C8;}
    
    .rfisc-icon__04D .st1{fill:#1B3E6F;}
    .rfisc-icon__04D .st2{stroke:#1B3E6F;}

    .rfisc-icon__06Z .st1{fill:#006DA4;}
	.rfisc-icon__06Z .st2{stroke:#006DA4;}
	
    g.active .st1{fill:#d0112b;}
    g.active .st2{stroke:#d0112b;}

</style>
<g class="rfisc-icon__{{vm.rfisc || 'regular'}}" ng-class="{ active: vm.active }">
	<g>
		<rect x="0.5" y="0.5" class="st0" width="25" height="25"/>
		<path class="st1" d="M25,1v24H1V1H25 M26,0H0v26h26V0L26,0z"/>
	</g>
	<g>
		<rect x="0.5" y="27.5" class="st0" width="25" height="4"/>
		<path class="st1" d="M25,28v3H1v-3H25 M26,27H0v5h26V27L26,27z"/>
	</g>
	<g>
		<path class="st2" d="M15.8,20.8h-5.6c-3.9,0-7-3.1-7-7h19.5C22.8,17.7,19.6,20.8,15.8,20.8z"/>
		<path class="st2" d="M22.8,13.8h-8.9V5.2h0.3C18.9,5.2,22.8,9.1,22.8,13.8L22.8,13.8z"/>
		<line class="st2" x1="13.9" y1="13.8" x2="18.6" y2="5.7"/>
		<line class="st2" x1="13.9" y1="13.8" x2="22" y2="9.1"/>
	</g>
</g>
</svg>
