
<div class="item__i mobileHide">
    <div class="top">
        <div class="top__i">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="text">
                                <div class="iconBox" ng-click="vm.switchService()">
                                    <i class="icon_umbrella"></i>
                                </div>
                                <div class="name">
                                    <h2>
                                        {{ 'web.extraServices.insurance.header' | aliasStatic}}
                                        <a href fancybox="popupAlias" data-popup-alias="web.extraServicesRules.insurance">
                                            <span class="infoBoxWrap">
                                                <i class="icon_info"></i>
                                                <span class="infoBox">
                                                    <span class="infoBox__i">
                                                        {{ 'web.extraServices.serviceDesc' | aliasStatic}}
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </h2>
                                    <p>
                                        {{ 'web.extraServices.insurance.desc' | aliasStatic}}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="vm.service.active && vm.service.editablePrice" class="price">
                                <div class="price__i">
                                    <h3 ng-bind-html="{ value: vm.service.editablePrice.price, currency: vm.service.editablePrice.currency } | price"></h3>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href ng-click="vm.switchService()" ng-class="{ active: vm.service.active, control_disabled: vm.locked }" class="btn showDrop_js ">
                                <span class="show">
                                    {{ 'web.extraServices.insurance.select' | aliasStatic}}
                                </span>
                                <span class="hide">
                                    {{ 'web.extraServices.insurance.deselect' | aliasStatic}}
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="drop" ng-if="vm.service.items.length > 1" ng-class="{ active: vm.service.active, show_js: vm.service.active }">
        <div class="drop__i">

            <div class="insuranceSelect">
                <div class="insuranceSelect__i">

                    <insurance-fares-switch-all
                        item="vm.service.itemsByPassengers[0][0]"
                        active="vm.isAllPassengersActive">
                    </insurance-fares-switch-all>

                    <wrap ng-repeat="(passengerNum, passenger) in vm.orderInfo.passengers"
                        ng-if="vm.service.itemsByPassengers[passengerNum].length">

                        <insurance-fares-rossiya
                            items="vm.service.itemsByPassengers[passengerNum]" 
                            pax-key="passengerNum"
                            pax="passenger"
                            switch="vm.switchServiceItem">
                        </insurance-fares-rossiya>

                    </wrap>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="item__i mobileShow">
	<div class="top">
        <div class="top__i">
            <a href>
				<div class="row">
					<table>
						<tbody>
                            <tr>
							    <td><i class="icon_umbrella"></i></td>
    							<td>
    								<div class="name">
    									{{ 'web.extraServices.insurance.header' | aliasStatic}}
                                        <a href fancybox="popupAlias" data-popup-alias="web.extraServicesRules.insurance">
                                            <i class="icon_info"></i>
                                        </a>
    								</div>
    							</td>
    						</tr>
    					</tbody>
                    </table>
			    </div>
			</a>
            <div class="row">
                <a href ng-click="vm.switchService()" ng-class="{ active: vm.service.active }" class="btn showDrop_js ">
                    <span class="show">
                        {{ 'web.extraServices.insurance.select' | aliasStatic}}
                    </span>
                    <span class="hide">
                        {{ 'web.extraServices.insurance.deselect' | aliasStatic}}
                    </span>
                </a>
			</div>
		</div>
	</div>
    <div class="drop" ng-if="vm.service.items.length > 1" ng-class="{ active: vm.service.active, show_js: vm.service.active }">
        <div class="drop__i">

            <div class="insuranceSelect">
                <div class="insuranceSelect__i">

                    <insurance-fares-switch-all
                        item="vm.service.itemsByPassengers[0][0]"
                        active="vm.isAllPassengersActive">
                    </insurance-fares-switch-all>

                    <wrap ng-repeat="(passengerNum, passenger) in vm.orderInfo.passengers"
                        ng-if="vm.service.itemsByPassengers[passengerNum].length">

                        <insurance-fares-rossiya
                            items="vm.service.itemsByPassengers[passengerNum]" 
                            pax-key="passengerNum"
                            pax="passenger"
                            switch="vm.switchServiceItem">
                        </insurance-fares-rossiya>

                    </wrap>

                </div>
            </div>

        </div>
    </div>
</div>
