<div class="popup popup_selectFood" id="popupMeal" style="display: none;">

  <!-- title -->
  <div class="title">
    <div class="title__i">
      <p>
        <geo-marker prefix="dep__point" key="es-meal" city="vm.flight.origincity" cityname="vm.flight.origincityName" port="vm.flight.originport" portname="vm.flight.originportName"></geo-marker>
        –
        <geo-marker prefix="arr__point" key="es-meal" city="vm.flight.destinationcity" cityname="vm.flight.destinationcityName" port="vm.flight.destinationport" portname="vm.flight.destinationportName"></geo-marker>
      </p>
      <a href ng-click="vm.close()" class="closePopup closePopup_js"></a>
    </div>
  </div>
  <!-- end title -->

  <div class="foodSlider">
    <div class="foodSlider__i slick-initialized slick-slider">

      <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" role="listbox">

          <div class="item slick-slide slick-current slick-active">
            <!-- itemSwiper -->
            <div class="itemSwiper" ng-if="vm.availablePassengers.length > 1">

              <span class="itemSwiper-prev" ng-if="vm.availablePassengers.length > 1" ng-click="vm.switchPrev()">
                  {{ 'web.extraServices.meal.itemSwiper.prev' | aliasStatic }}
              </span>

              <ol>

                <li ng-repeat="(num, pas) in vm.passengers"
                    ng-if="pas.hasSeats"
          					ng-class="{ active:vm.currentPassengerIndex == num, choice: vm.getPassengerFlightMeal(num, vm.currentFlightIndex)}">
				        </li>

              </ol>

              <span class="itemSwiper-next" ng-if="vm.availablePassengers.length > 1" ng-click="vm.switchNext()">
                  {{ 'web.extraServices.meal.itemSwiper.next' | aliasStatic }}
              </span>

            </div>
            <!-- end itemSwiper -->
            <!-- itemTitle -->
            <div class="itemTitle">
              <div class="itemTitle__i">
                <span>
                  {{ vm.passenger.lastName }} {{ vm.passenger.firstName }}
                </span>
                <span ng-if="vm.totalAmount() !== 0">
                  <span ng-bind-html="{ value: vm.totalAmount(), currency: 'RUB' } | price"></span>
                </span>
              </div>
            </div>
            <!-- end itemTitle -->

            <!-- itemOrderInfo -->
            <div class="itemOrderInfo">
              <div ng-repeat="(indexMealSelect, itemMealSelect) in vm.mealSelect track by $index" class="itemOrderInfo-row">

                <span>
                  {{ 'web.extraServices.' + itemMealSelect.rfisc + '.' + itemMealSelect.serviceType +'.ALL.text' | aliasDynamic }}
                </span>

                <span class="itemOrderInfo-row__price">
                  <span ng-bind-html="{ value: itemMealSelect.totalPrice, currency: itemMealSelect.currency } | price"></span>
                  <a href class="btn-remove" ng-click="vm.mealCountChangeHandler(vm.getMealInfo(itemMealSelect).group, vm.getMealInfo(itemMealSelect).meal, -1)">
                    <span class="infoBoxWrap">
                      <i class="icon_remove"></i>
                      <span class="infoBox">
                        <span class="infoBox__i">
                          {{ 'web.extraServices.meal.cancelByPassengerSegment' | aliasStatic }}
                        </span>
                      </span>
                    </span>
                  </a>
                </span>

              </div>

              <div ng-if="vm.issuedMeal[vm.currentPassengerIndex][vm.currentFlightIndex].length"
                   ng-repeat="issuedMealItem in vm.issuedMeal[vm.currentPassengerIndex][vm.currentFlightIndex]"
                   class="itemOrderInfo-row">

                <span>
                  <span ng-if="issuedMealItem.amount > 1" class="service-item-amount">
                    {{ issuedMealItem.amount }}
                  </span>
                  {{ 'web.extraServices.' + issuedMealItem.rfisc + '.' + issuedMealItem.serviceType +'.ALL.text' | aliasDynamic }}
                </span>

                  <span class="itemOrderInfo-row__issued">
                  {{ 'web.serviceStatus.issued' | aliasStatic }}
                </span>
              </div>


            </div>
            <!-- END itemOrderInfo -->

            <!-- foodSortSelect_wrap -->
            <div ng-show=" vm.subgroups.length > 1 " class="foodSortSelect_wrap">
              <ui-select ng-change="vm.mealMenuSubgroupMobileChange()" ng-model="vm.mealMenuSubgroupMobile" theme="selectize" search-enabled="false" required>
                <ui-select-match placeholder="{{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}">
                  {{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}
                </ui-select-match>
                <ui-select-choices repeat="subgroupCode.index as subgroupCode in vm.subgroupItems track by $index">
                  <div>{{ 'web.meal.subgroup.' | aliasWithPrefix:subgroupCode.value }}</div>
                </ui-select-choices>
              </ui-select>
            </div>
            <!-- end foodSortSelect_wrap -->

            <div class="list">

              <!-- itemPopup -->
              <div id="itemPopup" ng-if="vm.detailedView.open">
                <wrap>

                  <div ng-repeat="(mealItemNum, mealItem) in vm.mealMenu"
                    ng-if="vm.detailedView.mealIndex === mealItemNum">

                    <div class="itemPopup__inner">

                      <div class="itemPopup__close" ng-click="vm.closeItemPopup()"></div>

                      <div class="itemPopup__arrow itemPopup__arrow_left" ng-click="vm.prevItemPopup()"></div>
                      <div class="itemPopup__arrow itemPopup__arrow_right" ng-click="vm.nextItemPopup()"></div>

                      <div class="itemPopup__container">

                        <div class="itemPopup__img">
                          <img ng-src="{{vm.mealImagesPath}}/{{ mealItem.serviceType }}-{{ mealItem.rfisc }}.jpg" alt=""/>
                        </div>

                        <div class="itemPopup__name">
                          <p>{{ mealItem.title }}</p>
                        </div>

                        <div class="itemPopup__description" ng-bind-html="mealItem.description"></div>
                      </div>

                    </div>

                  </div>
                </wrap>
              </div>
              <!-- END itemPopup -->

              <div class="list__i isotopeGrid">

                <wrap>
                    <div ng-repeat="(mealItemNum, mealItem) in vm.mealMenu"
                         ng-if=" vm.mealMenuSubgroup === mealItem.subgroupNum || vm.mealMenuSubgroup === false "
                         ng-class="{ active: mealItem.alreadySelectedCount, disabled: vm.getLimitStatus(vm.currentPassengerIndex, vm.currentFlightIndex) }"
                         class="item">

                        <a href>
                            <div class="img" ng-click="vm.setItemIndex(mealItemNum)">
                                <img ng-src="{{vm.mealImagesPath}}/{{ mealItem.serviceType }}-{{ mealItem.rfisc }}.jpg" alt=""/>
                            </div>
                            <div class="name" ng-click="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, +1)">
                                <p>{{ mealItem.title }}</p>
                                <p class="price" ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></p>
                            </div>
                            <div class="extra-service-picker">
                                <service-picker count="mealItem.alreadySelectedCount"
                                    limit="mealItem.limit"
                                    locked="vm.locked"
                                    on-increase="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, +1)"
                                    on-decrease="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, -1)">
                                </service-picker>
                            </div>
                        </a>

                    </div>
                </wrap>

              </div>

              <!-- list-footer -->
              <div class="list-footer">
                <div class="list-footer__text">
                  {{ 'web.extraServices.meal.footerText' | aliasDynamic}}
                </div>
                <div class="list-footer__button">
                  <a href="" ng-click="vm.close()" class="btn">
                    <span>OK</span>
                  </a>
                </div>
              </div>
              <!-- end list-footer -->

            </div>
            <!-- end list -->

          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="popup__footer" ng-if="vm.detailedView.open">
    <div class="popup__container">
      <wrap>
        <div ng-repeat="(mealItemNum, mealItem) in vm.mealMenu"
          ng-if="vm.detailedView.mealIndex === mealItemNum">

          <div class="popup__price" ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></div>

          <div class="popup__btn"
               ng-if="mealItem.alreadySelectedCount == 0 && !vm.getLimitStatus(vm.currentPassengerIndex, vm.currentFlightIndex)"
               ng-click="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, +1)">
            {{ 'web.extraServices.meal.order' | aliasStatic}}
          </div>

          <div class="extra-service-picker" ng-if="mealItem.alreadySelectedCount > 0">
              <service-picker count="mealItem.alreadySelectedCount"
                  limit="mealItem.limit"
                  locked="vm.locked"
                  on-increase="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, +1)"
                  on-decrease="vm.mealCountChangeHandler(mealItem.subgroupNum, mealItem, -1)">
              </service-picker>
          </div>

        </div>
      </wrap>
    </div>
  </div>

  <div class="alert" ng-if="vm.getLimitStatus(vm.currentPassengerIndex, vm.currentFlightIndex)" ng-class="{ alert_bottom: vm.detailedView.open }">
    {{ 'web.extraServices.meal.alert' | aliasStatic }}
  </div>

</div>
